.{
    margin: 0;
    padding: 0;
}

.navbar{
    color: black;
    background-color:white;
}
.nav{
    background-color: black;
}
.nav-link{
    color: white;
}
.nav-item a{
    color: black;
    margin-left: 20px;
}

.carousel-caption{
    color: black;
    position: absolute;
    left: -537px;
    height: 429px;
    font-size: large;
   font-style:italic;
}

.ourservices{
    text-align: center;
    margin-top: 20px;
}
.col-md-3{
    color: white;
}
.col-md-2{
    color: white;
}
.col-md-4{
    color: white;
}
.p-3{
    color: white;
}