*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: black;
}
.nav-item1{
    color: white;
}
.nav-link{
    color: white;
}

.nav-item{
    display: flex;
    position: relative;
    left: 20px
}

.nav-link{
    font-style: normal;
    margin-left: 10px;
    margin-right: 10px;
    
}
.carousel-caption{
    color: black;
    position: absolute;
    left: -572px;
    height: 393px;
    font-size: large;
   font-style:italic;
}
.btn{
    color:white;
    background-color:black;
    font-style: italic;
}

.card{
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
  }
.font{
    margin-top: 50px;
    margin-left: 33%;
    margin-right: 200px;
    font-style: italic;
}

.card{
  box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
  position: absolute;
  height: 200px;
  right: 556px;
  margin-top: 35px;

}
.card1{
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
    position: absolute;
    height: 200px;
    right: 200px;
    margin-top: 35px;
}
.card2{
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
    margin-top: 50px;
    margin-left: 150px;
    height: 200px;
    
}
.heading h1{
    position: absolute;
    margin-top: 300px;
    margin-left: 490px;
    font-style: italic;
    color: black;
}
.heading p{
    font-style: italic;
    position: absolute;
    margin-top: 360px;
    margin-left: 437px;
    color: black;
    font-size: medium;

}
.card3{
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
    margin-top:205px;
    margin-left: 150px;

}
.card4{
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
    margin-top: -407px;
    margin-left: 525px;
}
.card5{
    box-shadow: 0 0 5px 0 rgba(22, 22, 26, .25);
    margin-top: -406px;
    margin-left: 900px;
}
.card345{
    margin-top: 500px;
}

.container{
    display: table-footer-group;
    margin-top: 50px;
}
.text-center{
    margin-top: 50px;
   
}
.row{
    margin: 10px;
}
.col-md-2{
    color: black;
}

.text-uppercase{
    color:white;
}
.col-md-3{
    color: white;
}
.col-md-4{
    color: white;
}